*.py[cod]
*~

# doc builds
docs/_build/*
docs/_build/*/*
docs/_build/*/*/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea/*

.eggs/*

# scratch files
atomate/vasp/tests/scratch/*

.DS_Store
.mypy_cache/3.6/_ast.data.json
.mypy_cache/3.6/_ast.meta.json
.mypy_cache/3.6/_compression.data.json
.mypy_cache/3.6/_compression.meta.json
.mypy_cache/3.6/_importlib_modulespec.data.json
.mypy_cache/3.6/_importlib_modulespec.meta.json
.mypy_cache/3.6/_random.data.json
.mypy_cache/3.6/_random.meta.json
.mypy_cache/3.6/@plugins_snapshot.json
.mypy_cache/3.6/abc.data.json
.mypy_cache/3.6/abc.meta.json
.mypy_cache/3.6/ast.data.json
.mypy_cache/3.6/ast.meta.json
.mypy_cache/3.6/builtins.data.json
.mypy_cache/3.6/builtins.meta.json
.mypy_cache/3.6/codecs.data.json
.mypy_cache/3.6/codecs.meta.json
.mypy_cache/3.6/datetime.data.json
.mypy_cache/3.6/datetime.meta.json
.mypy_cache/3.6/enum.data.json
.mypy_cache/3.6/enum.meta.json
.mypy_cache/3.6/fnmatch.data.json
.mypy_cache/3.6/fnmatch.meta.json
.mypy_cache/3.6/glob.data.json
.mypy_cache/3.6/glob.meta.json
.mypy_cache/3.6/gzip.data.json
.mypy_cache/3.6/gzip.meta.json
.mypy_cache/3.6/io.data.json
.mypy_cache/3.6/io.meta.json
.mypy_cache/3.6/mmap.data.json
.mypy_cache/3.6/mmap.meta.json
.mypy_cache/3.6/posix.data.json
.mypy_cache/3.6/posix.meta.json
.mypy_cache/3.6/random.data.json
.mypy_cache/3.6/random.meta.json
.mypy_cache/3.6/re.data.json
.mypy_cache/3.6/re.meta.json
.mypy_cache/3.6/shlex.data.json
.mypy_cache/3.6/shlex.meta.json
.mypy_cache/3.6/shutil.data.json
.mypy_cache/3.6/shutil.meta.json
.mypy_cache/3.6/socket.data.json
.mypy_cache/3.6/socket.meta.json
.mypy_cache/3.6/string.data.json
.mypy_cache/3.6/string.meta.json
.mypy_cache/3.6/subprocess.data.json
.mypy_cache/3.6/subprocess.meta.json
.mypy_cache/3.6/sys.data.json
.mypy_cache/3.6/sys.meta.json
.mypy_cache/3.6/threading.data.json
.mypy_cache/3.6/threading.meta.json
.mypy_cache/3.6/time.data.json
.mypy_cache/3.6/time.meta.json
.mypy_cache/3.6/traceback.data.json
.mypy_cache/3.6/traceback.meta.json
.mypy_cache/3.6/types.data.json
.mypy_cache/3.6/types.meta.json
.mypy_cache/3.6/typing_extensions.data.json
.mypy_cache/3.6/typing_extensions.meta.json
.mypy_cache/3.6/typing.data.json
.mypy_cache/3.6/typing.meta.json
.mypy_cache/3.6/uuid.data.json
.mypy_cache/3.6/uuid.meta.json
.mypy_cache/3.6/warnings.data.json
.mypy_cache/3.6/warnings.meta.json
.mypy_cache/3.6/zlib.data.json
.mypy_cache/3.6/zlib.meta.json
.mypy_cache/3.6/atomate/__init__.data.json
.mypy_cache/3.6/atomate/__init__.meta.json
.mypy_cache/3.6/atomate/common/__init__.data.json
.mypy_cache/3.6/atomate/common/__init__.meta.json
.mypy_cache/3.6/atomate/common/firetasks/__init__.data.json
.mypy_cache/3.6/atomate/common/firetasks/__init__.meta.json
.mypy_cache/3.6/atomate/common/firetasks/glue_tasks.data.json
.mypy_cache/3.6/atomate/common/firetasks/glue_tasks.meta.json
.mypy_cache/3.6/atomate/utils/__init__.data.json
.mypy_cache/3.6/atomate/utils/__init__.meta.json
.mypy_cache/3.6/atomate/utils/database.data.json
.mypy_cache/3.6/atomate/utils/database.meta.json
.mypy_cache/3.6/atomate/utils/fileio.data.json
.mypy_cache/3.6/atomate/utils/fileio.meta.json
.mypy_cache/3.6/atomate/utils/testing.data.json
.mypy_cache/3.6/atomate/utils/testing.meta.json
.mypy_cache/3.6/atomate/utils/utils.data.json
.mypy_cache/3.6/atomate/utils/utils.meta.json
.mypy_cache/3.6/atomate/vasp/__init__.data.json
.mypy_cache/3.6/atomate/vasp/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/config.data.json
.mypy_cache/3.6/atomate/vasp/config.meta.json
.mypy_cache/3.6/atomate/vasp/database.data.json
.mypy_cache/3.6/atomate/vasp/database.meta.json
.mypy_cache/3.6/atomate/vasp/drones.data.json
.mypy_cache/3.6/atomate/vasp/drones.meta.json
.mypy_cache/3.6/atomate/vasp/powerups.data.json
.mypy_cache/3.6/atomate/vasp/powerups.meta.json
.mypy_cache/3.6/atomate/vasp/analysis/__init__.data.json
.mypy_cache/3.6/atomate/vasp/analysis/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/analysis/phonopy.data.json
.mypy_cache/3.6/atomate/vasp/analysis/phonopy.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/__init__.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/glue_tasks.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/glue_tasks.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/neb_tasks.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/neb_tasks.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/parse_outputs.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/parse_outputs.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/run_calc.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/run_calc.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/write_inputs.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/write_inputs.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/tests/__init__.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/tests/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/firetasks/tests/test_write_vasp.data.json
.mypy_cache/3.6/atomate/vasp/firetasks/tests/test_write_vasp.meta.json
.mypy_cache/3.6/atomate/vasp/fireworks/__init__.data.json
.mypy_cache/3.6/atomate/vasp/fireworks/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/fireworks/core.data.json
.mypy_cache/3.6/atomate/vasp/fireworks/core.meta.json
.mypy_cache/3.6/atomate/vasp/fireworks/nmr.data.json
.mypy_cache/3.6/atomate/vasp/fireworks/nmr.meta.json
.mypy_cache/3.6/atomate/vasp/tests/__init__.data.json
.mypy_cache/3.6/atomate/vasp/tests/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/tests/test_vasp_powerups.data.json
.mypy_cache/3.6/atomate/vasp/tests/test_vasp_powerups.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/__init__.data.json
.mypy_cache/3.6/atomate/vasp/workflows/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/__init__.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/bulk_modulus.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/bulk_modulus.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/core.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/core.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/deformations.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/deformations.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/elastic.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/elastic.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/gibbs.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/gibbs.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/neb.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/neb.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/raman.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/raman.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/base/thermal_expansion.data.json
.mypy_cache/3.6/atomate/vasp/workflows/base/thermal_expansion.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/presets/__init__.data.json
.mypy_cache/3.6/atomate/vasp/workflows/presets/__init__.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/presets/core.data.json
.mypy_cache/3.6/atomate/vasp/workflows/presets/core.meta.json
.mypy_cache/3.6/atomate/vasp/workflows/presets/scan.data.json
.mypy_cache/3.6/atomate/vasp/workflows/presets/scan.meta.json
.mypy_cache/3.6/collections/__init__.data.json
.mypy_cache/3.6/collections/__init__.meta.json
.mypy_cache/3.6/collections/abc.data.json
.mypy_cache/3.6/collections/abc.meta.json
.mypy_cache/3.6/importlib/__init__.data.json
.mypy_cache/3.6/importlib/__init__.meta.json
.mypy_cache/3.6/importlib/abc.data.json
.mypy_cache/3.6/importlib/abc.meta.json
.mypy_cache/3.6/json/__init__.data.json
.mypy_cache/3.6/json/__init__.meta.json
.mypy_cache/3.6/json/decoder.data.json
.mypy_cache/3.6/json/decoder.meta.json
.mypy_cache/3.6/json/encoder.data.json
.mypy_cache/3.6/json/encoder.meta.json
.mypy_cache/3.6/logging/__init__.data.json
.mypy_cache/3.6/logging/__init__.meta.json
.mypy_cache/3.6/os/__init__.data.json
.mypy_cache/3.6/os/__init__.meta.json
.mypy_cache/3.6/os/path.data.json
.mypy_cache/3.6/os/path.meta.json
.mypy_cache/3.6/unittest/__init__.data.json
.mypy_cache/3.6/unittest/__init__.meta.json
.mypy_cache/3.6/unittest/case.data.json
.mypy_cache/3.6/unittest/case.meta.json
.mypy_cache/3.6/unittest/loader.data.json
.mypy_cache/3.6/unittest/loader.meta.json
.mypy_cache/3.6/unittest/result.data.json
.mypy_cache/3.6/unittest/result.meta.json
.mypy_cache/3.6/unittest/runner.data.json
.mypy_cache/3.6/unittest/runner.meta.json
.mypy_cache/3.6/unittest/signals.data.json
.mypy_cache/3.6/unittest/signals.meta.json
.mypy_cache/3.6/unittest/suite.data.json
.mypy_cache/3.6/unittest/suite.meta.json
.vscode/settings.json
